<ul class="nav_links">
    <li><a class= nav_links href="/">
        Início
    </a></li>

    <li><a href="/create"> 
        Adicionar Nota
    </a></li>

    <li><a href="/tags"> 
        Etiquetas
    </a></li>
    
    <li><a href="/categories"> 
        Categorias   
    </a></li>
    
    <li><a href="/notes"> 
        Notas  
    </a></li>
</ul>
