<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input class="notes__title" type="text" maxlength="32" placeholder="Nova Nota">
    <textarea class="notes__body">Escreva aqui</textarea>

  </body>
</html>