<%- include('../partials/head'); %>

<p>Criação de nota</p>

<hr />
<form action="/notes" method="post">

    <%- include('./_form'); -%>

    <button type="submit">Criar</button>
</form>

<%- include('../partials/footer'); %>